<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easemob.push.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- easemob push required permission -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:name="com.easemob.push.example.ExampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.easemob.push.example.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- receiver to receive message from easemob push service -->
        <receiver android:name="com.easemob.push.example.PushMessageReceiver" >
            <intent-filter>
                <action android:name="com.easemob.push.action" />
            </intent-filter>
        </receiver>
        
        <!-- easemob push sdk service -->
        <service android:name="com.easemob.EaseMobService" />
        <!-- easemob push appkey -->
        <meta-data android:name="EASEMOB_APPKEY" android:value="pushtest2"/>
        <meta-data android:name="EASEMOB_PUSH_ADDRESS" android:value="http://210.76.97.31" />
        <meta-data android:name="EASEMOB_CHAT_ADDRESS" android:value="210.76.97.31" />
        <meta-data android:name="EASEMOB_CHAT_DOMAIN" android:value="hoho3" />
    </application>

</manifest>
